@model IEnumerable<UTS.Models.Table>

@{
    ViewData["Title"] = "Table";
}

<h1>TABLE
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</h1>

<p>
    <a asp-action="Create">Buat Table</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Start")
            </th>
            <th>
                @Html.DisplayName("ID Order Navigation")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrderNavigation.IdOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTable"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTable"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTable"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
