@model IEnumerable<UTS.Models.Packet>

@{
    ViewData["Title"] = "Packet";
}

<h1>PACKET
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</h1>

<p>
    <a asp-action="Create">Buat Packet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Packet Name")
            </th>
            <th>
                @Html.DisplayName("Packet Time")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacket"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPacket"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacket"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
